<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>compare]</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script type="text/javascript">
    /*<![CDATA[*/  
    	window.onload = function() {
    		/*window.location.href = '[[${compareUrl}]]';*/
    	}
	/*]]>*/
    </script>
</head>
<body>
	<div><a th:href="${compareUrl}" th:text="${commits}"></a></div>
	<div th:text="${beforeAfter}"></div>
	<div th:text="${changes}"></div>
</body>
</html>